/* ===================================================
                NOTEBOOK
=================================================== */

@media(max-width:1200px){

.hero-container{

grid-template-columns:1fr 400px;

gap:50px;

}

.hero-text h1{

font-size:4rem;

}

.blob{

width:360px;
height:460px;

}

.photo{

width:620px;
height:760px;

}

}


/* ===================================================
                TABLET
=================================================== */

@media(max-width:992px){

nav{

padding:20px;

}

nav ul{

gap:20px;

}

header{

padding-top:120px;

padding-bottom:80px;

min-height:auto;

}

.hero-container{

display:flex;

flex-direction:column-reverse;

align-items:center;

text-align:center;

gap:50px;

}

.hero-text{

max-width:700px;

}

.hero-text h1{

font-size:3.5rem;

}

.hero-text p{

margin:auto;

}

.bio{

width:100%;

}

.blob{

width:360px;

height:420px;

}

.social{

justify-content:center;

}

.cards{

grid-template-columns:

repeat(2,1fr);

}

.photo{

width:420px;
height:520px;

}

}


/* ===================================================
                CELULAR
=================================================== */

@media(max-width:768px){

nav{

flex-direction:column;

gap:20px;

}

nav ul{

flex-wrap:wrap;

justify-content:center;

}

.hero-text h1{

font-size:2.8rem;

letter-spacing:2px;

}

.hero-text p{

font-size:1rem;

}

.blob{

width:300px;

height:360px;

}

.bio-text{

padding:30px;

}

.bio-text h2{

font-size:1.6rem;

}

.bio-text h3{

font-size:1rem;

}

.cards{

grid-template-columns:1fr;

}

.card{

height:250px;

}

.titulo{

flex-direction:column;

align-items:flex-start;

}

.linha{

width:100%;

}

.photo{

width:280px;
height:350px;

}

}


/* ===================================================
                CELULAR PEQUENO
=================================================== */

@media(max-width:480px){

.logo{

font-size:24px;

}

.hero-text h1{

font-size:2.2rem;

}

.blob{

width:260px;

height:320px;

}

.bio-text{

padding:25px;

}

.social a{

width:42px;
height:42px;

}

.card{

height:220px;

}

footer{

font-size:.9rem;

}

}